
<% obj.each do |article| %>
<hr width="80%;" class="spacer-xs">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="article-box">
			<div class="article-group">
				<div align="center" class="article-title">
					<%= link_to article.title.humanize, article_path(article), class: 'titulo' %>
				</div>
					<div align="left">
						<% if article.categories.any? %>
								Categories: <%= render article.categories %>
						<% end %>
					</div>
				<div class="article-body">
					<%= truncate(article.description, length: 300) %>
					<div class="article-body-meta">
						<small class="pull-right">Created by <%= article.user.username if article.user %>
							<%= time_ago_in_words(article.updated_at) %> ago
						</small>
					</div>
				</div>
				<div class="article-actions">			
					<div align="right">
						<% if logged_in? && current_user == article.user %>
							<%= link_to "Edit this article", edit_article_path(article), class: "btn btn-xs btn-primary" %> 
							<%= link_to "Delete this article", article_path(article), method: :delete, data: { confirm: "Are you sure?" } ,class: "btn btn-xs btn-danger" %> 
						<% end %>
							<%= link_to "All Articles", articles_path, class: "btn btn-xs btn-success" %> 
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% end %>
