<h1>Nois</h1>
<hr>
<%= link_to "Create a new Article", new_article_path %> 
<hr>

<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading">Articles List</div>
	<div class="panel-body">
		<p>List of articles and users</p>
	</div>

	<!-- Table -->
	<table class="table">
		<tr>
			<th><h5>Title</h5></th>
			<th><h5>Description</h5></th>
		</tr>

		<% @articles.each do |article| %>
		<tr>
			<td><%= article.title %></td>
			<td><%= article.description %></td>
			<td><%= link_to 'Edit', edit_article_path(article) %></td>
			<td><%= link_to 'Show', article_path(article) %></td>
			<td><%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure?" } %></td>
		</tr>
		<% end %>
	</table>
</div>