<div class="container">
  <div class="row">
    <div>
      <h3>Gerênciamento de Contas</h3>
    </div>
  </div>
</div>
</div>
<div class="container">
  <hr>
  <div align="center">
    
    <%= link_to 'Criar uma Conta', new_bill_path, class: 'btn btn-info' %>
    <%= link_to 'Apagar contas pagas', bills_clear_paid_bills_path, class: 'btn btn-danger' %>
  </div>
  <hr>
  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="container">
        <h3 class="panel-title">
          Contas Pagas neste mês
        </h3>
        <div class="container">
          Total: <strong><%= @paid.sum(:value)%></strong>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr><td><strong>Nome da conta</strong></td>
          <td><strong>Categoria</strong></td>
          <td><strong>Valor</strong></td>
        </tr>
        <% @paid.each do |bill| %>
        <tr>
          <td><%= bill.bill_name %></td>
          <td><%= bill.description %></td>
          <td><%= bill.value %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="panel panel-danger">
    <div class="panel-heading">
      <div class="container">
        <h3 class="panel-title">
          Contas que ainda não foram pagas
        </h3>
        <div class="container">
          Total: <strong><%= @not_paid.sum(:value)%></strong>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <table class="table">
        <tr><td><strong>Nome da conta</strong></td>
          <td><strong>Categoria</strong></td>
          <td><strong>Valor</strong></td>
        </tr>
        <% @not_paid.each do |bill| %>
        <tr>
          <td><%= bill.bill_name %></td>
          <td><%= bill.description %></td>
          <td><%= bill.value %></td>
          <td><%= link_to 'Pay', pay_path(bill) %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
